@import 'normalize';
@import 'menu';

$trigger-size: 50px;

body {
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}

h3,
h5 {
	text-align: center;
	width: 100%;
}

.trigger-btn {
	height: $trigger-size;
	width: $trigger-size;
	background-color: #222222;
	color: #EFEFEF;	
	text-align: center;
	border-radius: 50%;

	margin-left: -$trigger-size/2;
	margin-top: -$trigger-size/2;
	position: absolute;
	left: 50%;
	top: 50%;
}

.trigger-text {
	line-height: $trigger-size;
}

.hidden {
	visibility: hidden;
}

.activated {
	visibility: visible;
}

#pilot1-block {
	border: red 1px solid;
	height: 800px;
	width: 100%;
	position: relative;
}

#m-1 {
	margin-left: -$menu-size/2;
	margin-top: -$menu-size/2;
	left: 50%;
	top: 50%;
}