@import 'normalize';
@import 'base';
@import 'menu';

.menu-item.selected {
	background-color: #1ABC9C;
	color: #FFF;
}

.user-info {
	position: absolute;

	top: 0;
	left: 50%;

	margin-left: -90px;
	z-index: 100;
}

.progress-bar {
	height: 4px;
	width: 100%;

	.progress {
		background-color: #1ABC9C;
		border-top-right-radius: 2px;
		border-bottom-right-radius: 2px;
		height: 4px;
		width: 0%;
	}
}

/** Trigger Button
------------------------------**/

$trigger-size: 100px;

.trigger-btn {
	height: $trigger-size;
	width: $trigger-size;
	background-color: #222222;
	color: #EFEFEF;	
	text-align: center;
	border-radius: 50%;

	margin-left: -$trigger-size/2;
	margin-top: -$trigger-size/2;
	position: absolute;
	left: 50%;
	top: 50%;
}

.trigger-text {
	line-height: $trigger-size;
}

/** Menu Block
------------------------------**/

#pilot1-block {
	width: 100%;
	position: relative;
}

/** Main Menu's Position
------------------------------**/

#m-1 {
	margin-left: -$menu-size/2;
	margin-top: -$menu-size/2;
	left: 50%;
	top: 50%;
}