<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Gaze Menu</title>

<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="css/main.min.css">