<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <ul>
    <li><a href="/pilot1">PILOT 1</a></li>
  </ul>

</body>
</html>