<!-- views/pages/pilot1.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="css/pilot1.min.css">
</head>
<body>
	
	<h3>hello</h3>
	<h5>it's me</h5>

	<div class="menu-block">
		
		<div class="menu-1">
			<div class="menu-up"></div>
			<div class="menu-down"></div>
			<div class="menu-left"></div>
			<div class="menu-right"></div>
		</div>

	</div>

</body>
</html>