<!-- views/pages/pilot1.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="css/pilot1.min.css">
</head>
<body>
	
	<div id="pilot1-block">

		<div class="trigger-btn">
			<span class="trigger-text"><%= AE %></span>
	  </div>

		<div id="m-1" class="menu hidden">		
			<div class="menu-item menu-item--top">
				<div class="menu-text">A</div>
				<div id="m-2-1" class="menu submenu">
					<div class="menu-item menu-item--top">
						<div class="menu-text">E</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">01</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">02</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">03</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">04</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--right">
						<div class="menu-text">F</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">05</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">06</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">07</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">08</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--bottom">
						<div class="menu-text">G</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">09</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">10</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">11</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">12</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--left">
						<div class="menu-text">H</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">13</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">14</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">15</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">16</div></div>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-item menu-item--right">
				<div class="menu-text">B</div>
				<div id="m-2-2" class="menu submenu">
					<div class="menu-item menu-item--top">
						<div class="menu-text">I</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">17</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">18</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">19</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">20</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--right">
						<div class="menu-text">J</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">21</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">22</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">23</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">24</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--bottom">
						<div class="menu-text">K</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">25</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">26</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">27</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">28</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--left">
						<div class="menu-text">L</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">29</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">30</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">31</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">32</div></div>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-item menu-item--bottom">
				<div class="menu-text">C</div>
				<div id="m-2-3" class="menu submenu">
					<div class="menu-item menu-item--top">
						<div class="menu-text">M</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">33</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">34</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">35</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">36</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--right">
						<div class="menu-text">N</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">37</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">38</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">39</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">40</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--bottom">
						<div class="menu-text">O</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">41</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">42</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">43</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">44</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--left">
						<div class="menu-text">P</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">45</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">46</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">47</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">48</div></div>
						</div>
					</div>
				</div>
			</div>

			<div class="menu-item menu-item--left">
				<div class="menu-text">D</div>
				<div id="m-2-4" class="menu submenu">
					<div class="menu-item menu-item--top">
						<div class="menu-text">Q</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">49</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">50</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">51</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">52</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--right">
						<div class="menu-text">R</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">53</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">54</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">55</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">56</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--bottom">
						<div class="menu-text">S</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">57</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">58</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">59</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">60</div></div>
						</div>
					</div>
					<div class="menu-item menu-item--left">
						<div class="menu-text">T</div>
						<div id="m-3-1" class="menu submenu">
							<div class="menu-item menu-item--top selection"><div class="menu-text">61</div></div>
							<div class="menu-item menu-item--right selection"><div class="menu-text">62</div></div>
							<div class="menu-item menu-item--bottom selection"><div class="menu-text">63</div></div>
							<div class="menu-item menu-item--left selection"><div class="menu-text">64</div></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/pilot1.js"></script>

</body>
</html>