<!-- views/pages/pilot1.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="css/pilot1.min.css">
</head>
<body>
	
	<h3>Pilot Study 1</h3>
	<h5>** Description **</h5>

	<div id="pilot1-block">

		<div class="trigger-btn">
			<span class="trigger-text">x</span>
	  </div>

		<div id="m-1" class="menu hidden">
			<div class="menu-item menu-item--top">
				<div class="menu-text">T</div>
				<div id="m-2-1" class="menu submenu">
					<div class="menu-item menu-item--top"><div class="menu-text">1</div></div>
					<div class="menu-item menu-item--right"><div class="menu-text">1</div></div>
					<div class="menu-item menu-item--bottom"><div class="menu-text">1</div></div>
					<div class="menu-item menu-item--left"><div class="menu-text">1</div></div>
				</div>
			</div>

			<div class="menu-item menu-item--right">
				<div class="menu-text">R</div>
				<div id="m-2-2" class="menu submenu">
					<div class="menu-item menu-item--top"><div class="menu-text">2</div></div>
					<div class="menu-item menu-item--right"><div class="menu-text">2</div></div>
					<div class="menu-item menu-item--bottom"><div class="menu-text">2</div></div>
					<div class="menu-item menu-item--left"><div class="menu-text">2</div></div>
				</div>
			</div>

			<div class="menu-item menu-item--bottom">
				<div class="menu-text">B</div>
				<div id="m-2-3" class="menu submenu">
					<div class="menu-item menu-item--top"><div class="menu-text">3</div></div>
					<div class="menu-item menu-item--right"><div class="menu-text">3</div></div>
					<div class="menu-item menu-item--bottom"><div class="menu-text">3</div></div>
					<div class="menu-item menu-item--left"><div class="menu-text">3</div></div>
				</div>
			</div>

			<div class="menu-item menu-item--left">
				<div class="menu-text">L</div>
				<div id="m-2-4" class="menu submenu">
					<div class="menu-item menu-item--top"><div class="menu-text">4</div></div>
					<div class="menu-item menu-item--right"><div class="menu-text">4</div></div>
					<div class="menu-item menu-item--bottom"><div class="menu-text">4</div></div>
					<div class="menu-item menu-item--left"><div class="menu-text">4</div></div>
				</div>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="js/pilot1.js"></script>

</body>
</html>